@page
@model FictitiousMobilePlan1.Pages.Phones.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Phone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Phone.PlanName" class="control-label"></label>
                <input asp-for="Phone.PlanName" class="form-control" />
                <!-- <select asp-for="Phone.PlanName" class="form-control" asp-items="Model.PlanOptions"></select>  -->
                <span asp-validation-for="Phone.PlanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone.Payment" class="control-label"></label>
                <input asp-for="Phone.Payment" class="form-control" />
                <span asp-validation-for="Phone.Payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone.Sei" class="control-label"></label>
                <input asp-for="Phone.Sei" class="form-control" />
                <span asp-validation-for="Phone.Sei" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone.Mei" class="control-label"></label>
                <input asp-for="Phone.Mei" class="form-control" />
                <span asp-validation-for="Phone.Mei" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone.Tel" class="control-label"></label>
                <input asp-for="Phone.Tel" class="form-control" />
                <span asp-validation-for="Phone.Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone.Address" class="control-label"></label>
                <input asp-for="Phone.Address" class="form-control" />
                <span asp-validation-for="Phone.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone.Starttime" class="control-label"></label>
                <input asp-for="Phone.Starttime" class="form-control" />
                <span asp-validation-for="Phone.Starttime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone.Remarks" class="control-label"></label>
                <input asp-for="Phone.Remarks" class="form-control" />
                <span asp-validation-for="Phone.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
